*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif !important;
}
.home{
    width: 100%;
    height: 100vh;
    /* border: 2px solid red; */
}
.home-banner{
    position: absolute;
    z-index: -1;
    background-size: cover;
    object-fit: cover;
    width: 100%;
    height: 100vh;
}
nav a {
    text-decoration: none;
    color: white;
    margin-left: 30px;
    margin-top: 30px;
    font-size: 14px;
}
nav {
    /* border: 2px solid red; */
    display: flex;
    justify-content: end;
    align-items: center;
    margin-right: 7vw;
    height: 10vh;
}
nav img{
    position:absolute;
    left: 3%;
    right: 0%;
    width:70px;
    top: 1%;
}
.content{
    /* border: 2px solid red; */
    color: white;
    display:flex;
    flex-direction: row;
    justify-content:start;
    align-items: center;
    height: 90vh;
    padding-left:14%;
}
.main-content{
    margin-top:13vw;
    /* border: 2px solid red; */


}
.main-content h1{
    font-size: 3vw;
    color:#26A398;

}

.main-content p {
    color: white;
    font-size: 1vw;
    margin-top: 20px;

}
.home-btn{
    margin-top:23vw;
    margin-left:3vw;

    
}
.home-btn button{
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.showreel{
    padding: 10px;
    border-radius: 25px;
    outline: none;
    border: none;
    cursor: pointer;
    background-color: #26A398;
    font-size: 0.9vw;
    color: white;
}
.play-action{
    width: 1vw;
    margin-right: 10px;
}
.border-btm{
    display: flex;
    justify-content: center;
    align-items: center;
    
} 
hr{
    width: 80%;
    /* margin-top: 2%; */
    border-color: #3b3b3b;
}
.featured-filims{
    background-image: url(images/featured-filim-bg.png);
    padding: 8%;
    padding-left: 14%;


}
.featured-filims-div{
    color: white;
    display: flex;
    flex-direction: row;
    justify-content:start;
    align-items: center;
}
.work-div{
    display:flex;
    flex-direction: row;
    margin-left: 10vw;

}
.works {
    margin-inline:20px ;

}
.short-txt{
    margin-top:8%;
}
.featured-number{
    font-size:2.5vw;
    font-weight: 600;
    color: #D49F58;
}
.shrt{
    font-size: 0.8vw;
}

.filimography{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 2px solid red; */
    margin-top: 6vw;
    font-size: 1vw;
}
.heading-fimilography{
    width: 100%;
    /* border: 2px solid red; */
    padding-left: 16%;
}
.Filimography-section{
    display: flex;
    flex-direction: row;
    padding-top: 4vw;
    padding-bottom: 4vw;
}
.Filimography-section-cinimas img{
    width: 14vw;
    height: 16vw;
    object-position: center;
    border-radius: 15px;
    filter: brightness(0.7);
    cursor: pointer;
}
.Filimography-section-cinimas{
    object-position: center;
    object-fit: cover;
    margin-inline-end: 3vw;
    position: relative;
}
.Filimography-section-cinimas-name{
    position: absolute;
    font-size: 0.6vw;
    bottom: 2px;
    padding: 1vw;
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.photo-video{
    width: 100%;
    display: flex;
    padding-left: 15%;
    flex-direction: row;
    padding-top: 4vw;

}
.photo-video h2{
    margin-inline-end: 2vw;
    font-size: 1.5vw;
}
.videos-name{
    border-bottom: 0.5px solid rgb(0, 0, 0);
}
.videos-div{
    padding-top: 3vw;
    display: flex;
    flex-direction: row;
    cursor: pointer;
}
.video-img{
    width: 21vw;
    border-radius: 10px;
    
}
.video-title{
    margin-top: 10px;
    font-size: 0.9vw;
    max-width: 21vw;
}
.videos p{
    font-size: 0.7vw;
    font-weight: 500;
}
.videos{
    margin-inline-end:2vw;

}
.video-img-btn{
    position: relative;

}
.ply{
    font-size: 3vw;
    color: white;
}
.video-img-btn .ply{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.achievments{
    margin: 8vw 0vw 6vw 0vw;
    padding: 4%;
    background-color: #F7F7F7;
    /* border: 2px solid red; */
    /* padding-left: 2%; */

}
.achievments-div{
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    /* border: 2px solid red; */


}
.first-achievement{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-inline-end: 8vw;
}
.second-achievement{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.achievments-png{
    width: 3vw;
    height: 10vw;
}
.achievments-text {
    margin: 3vw;
    text-align: center;
    font-family: sans-serif;
}
.achievments-text p {
    font-size: 0.8vw;
    font-weight: 600;
}
.achievments-text h1 {
    font-size: 1.5vw;
    font-weight:900;
}
.did-you-know{
    padding-left: 14%;
    padding-bottom: 6vw;
    display: flex;
    font-size: 1vw;

}
.did-you-know-contents{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    align-items: center;
}
.did-you-know-texts p {
    font-size: 1vw;
}
.did-you-know-texts h1 {
    font-size: 1.4vw;
    padding: 2vw 0vw 2vw 0vw;
}
.did-you-know-img img {
    width: 22vw;
    cursor: pointer;
}
.did-you-know-texts button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: transparent;
    border-radius: 20px;
    margin-top: 20px;
    cursor: pointer;
}
.arrow-icon{
    width: 1vw;
    margin-inline-end: 4px;
}
.track-border{
    padding-top: 7vw;
}
.track-border hr{
    border-color: #e2e3e3;

}
.track-list {
    padding: 6vw 0vw 2vw 14%; 
}
.track-list h1{
    font-size: 1.5vw;
}

.track-videos-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    cursor: pointer;

}
.track-video-img{
    width:10vw;
    height: 10vw;
    position: relative;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
}
.track-video-title{
    max-width: 10vw;
    font-size: 0.8vw;
}
.video-img-btn .track-paly{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.track-paly{
    font-size: 1.8vw;
}

.copy{
    margin-top:4vw;
}
.last-video-section{
    padding: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.last-video{
    margin: 0;
    padding: 0;
    
}
.last-videos{
    margin:0vw 2vw 0vw 2vw;
}
.last-video-section-name{
    width: 100%;
    display: flex;
    justify-content: start;
    text-align: center;
    padding-left: 14%;
    padding-bottom: 2vw;

}
.last-video-border{
    padding: 7vw;

}
.last-video-border hr{
    border-color: #e2e3e3;
}
.who-we-are-section{
    background-image: url(images/who-we-are.png);
    background-size: cover;
    object-fit:cover;
    object-position: center;
    color: white;
    padding: 6%;
    /* border: 2px solid red; */

}
.who-we-are-contents{
    width: 70%;
    /* border: 2px solid red; */
    padding-left: 8%;
}
.who-we-are-contents-txt{
    padding: 2vw 0vw 2vw 0vw;
}
.who-we-are-contents button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color:transparent;
    border-radius: 25px;
    margin-top: 20px;
    cursor: pointer;
    color: white;
    border: 0.5px solid white;
}
.arrow{
    color: white;
    font-size: 1.3vw;
    margin-inline-end: 10px;
}


.footer-contents{
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 2%;

}
.footer-img{
    display: flex;
    justify-content: center;
    align-items:center;
}
.footer-img img{
    width: 8vw;

}
.lists li {
    list-style-type: none;
    font-size: 0.9vw;
    font-weight: 600;
    margin-block: 10px;
}
.social p {
    font-size: 1vw;
    font-weight: 600;
    margin: 8px;

}
.social i{
    margin: 8px;
}